{% extends 'main.html' %}

{% block content %}



<div class="container register-login">
{% if page == 'login'%}
<form action="" method="post">
    
    {% csrf_token %}
<!-- 
   <label for="username">Username</label>
   <input type="text" name="username" id="username" placeholder="type A username">
    -->
   <label for="email">Email</label>
   <input type="email" name="email" id="email" placeholder="">

   <label for="password">password</label>
   <input type="password" name="password" id="password" placeholder="">

    <input type="submit" value="Log in">
   <p>Haven't signed up yet  ? <a href="{% url 'register'%}">Sign up</a></p>
</form>


{% else %}
 

<form action="" method="post">

    {% csrf_token %}

    
    {{form.as_p}}


    <input type="submit" value="Register">
</form>

<p>Already have account ? <a href="{% url 'login'%}">Log in</a></p>

{% endif %}



</div>
{% endblock%}
