*{
  box-sizing: border-box;
    margin: 0;
    padding:0;
    --main-color:#21f3ad;
    --main-duaration:0.3s;
    --section-background:#f3f0f0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* global rules  */
html{
   --main-padding:80px;
}




ul{
    list-style: none;
}


body{
    background-color:#fffbf6b0;
}

/* stting container  */
.container {
   
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
    /* background-color: black; */

}




/* small screens */

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
    
}

/* meduim screens */

@media (min-width: 992px) {
    .container{
        width: 970px;
    }
    
}

/* large screens */


@media (min-width: 1200px) {
    .container{
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
    
}


/* header{
    position: absolute;

    left: 0;
    width:100%;
} */
/* header .container hr{

} *