version: 1
services:
  - type: web
    name: lingo-card-1  # Replace with your service name
    env: python
    buildCommand: |
      apt-get update && apt-get install -y \
      libxml2-dev \
      libxslt-dev \
      gcc \
      python3-dev \
      && pip install --upgrade pip \
      && pip install -r requirements.txt
   startCommand: python manage.py runserver 0.0.0.0:8000
